# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TerrainPractice.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/
/dataSources.local.xml
